@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .postItem {
        transition: all 0.5s ease;
        &:hover .boxContentHid {
            height: 84px;
        }

        .boxContentHid {
            transition: all 0.5s;
        }
    }

    .postHeading::after {
        content: '';
        @apply absolute w-20 h-1 bg-violet-500 left-0 -top-[7px];
    }
}
