@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .wrapper {
        @apply overflow-x-auto rounded-[10px] border-spacing-1 shadow-box;
        table {
            width: 100%;
            thead > tr {
                @apply border-b-[5px] border-b-[#f3f3f3];
            }
            tr {
                @apply bg-[#fff];
            }
            tbody > tr {
                @apply border-b-2 border-b-lightStrock last:border-b-0;
            }
            td,
            th {
                vertical-align: middle;
                white-space: nowrap;
            }
            th {
                padding: 10px 15px;
                font-weight: 600;
                text-align: left;
            }
            td {
                padding: 7px 10px;
            }
        }
    }
}
