@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-main text-base bg-slate-50 text-textPrimary;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        &::-webkit-scrollbar {
            width: 6px;
        }
        &::-webkit-scrollbar-track {
            @apply bg-gray-300;
        }
        &::-webkit-scrollbar-thumb {
            @apply bg-primary;
        }
    }

    input,
    textarea {
        outline: none;
    }

    textarea {
        resize: none;
    }

    // Header
    header.sticky-top {
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
        filter: opacity(0.9);
        animation: stickyHeader 0.5s linear;
        box-shadow: 0 10px 15px -3px #ff8a6c80, 0 4px 6px -4px #ff8a6c80;
    }

    @keyframes stickyHeader {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    // Footer
    .social-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    #facebook {
        background-color: #1877f2;
    }

    #instagram {
        background: linear-gradient(
            29.61deg,
            #f38334 0%,
            #da2e7d 50.39%,
            #6b54c6 100%
        );
    }

    #tiktok {
        background-color: #000;
    }

    #twitter {
        background-color: #55acee;
    }

    // Customize checkbox
    input[type='checkbox'] {
        position: relative;
        border: 1px solid #30cfd0;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        appearance: none;
        transition: all 0.3s;
        cursor: pointer;
    }

    input[type='checkbox']::before {
        content: '';
        position: absolute;
        border: solid #fff;
        display: block;
        width: 7px;
        height: 12px;
        border-width: 0 3.2px 3.2px 0;
        z-index: 1;
        opacity: 0;
        right: calc(50% - 3px);
        top: calc(50% - 8px);
        transform: rotate(0deg);
        transition: all 0.3s;
        transform-origin: center center;
    }

    input[type='checkbox']:checked {
        animation: checkAnimation 0.3s ease-in forwards;
        @apply bg-sky-400;
    }

    input[type='checkbox']:checked:before {
        opacity: 1;
        transform: rotate(405deg);
    }

    @keyframes checkAnimation {
        0% {
            opacity: 1;
            transform: scale(1) rotateY(0deg);
        }

        50% {
            opacity: 0;
            transform: scale(0.8) rotateY(180deg);
        }

        100% {
            opacity: 1;
            transform: scale(1) rotateY(360deg);
        }
    }
}
